@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 27% 95%;
    --foreground: 224 10% 10%;
    --card: 210 27% 98%;
    --card-foreground: 224 10% 10%;
    --popover: 210 27% 98%;
    --popover-foreground: 224 10% 10%;
    --primary: 205 23% 60%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 25% 90%;
    --secondary-foreground: 224 10% 10%;
    --muted: 210 25% 90%;
    --muted-foreground: 215 16% 47%;
    --accent: 38 44% 67%;
    --accent-foreground: 24 10% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 205 20% 88%;
    --input: 205 20% 88%;
    --ring: 205 23% 60%;
    --radius: 0.5rem;
    --chart-1: 205 23% 60%;
    --chart-2: 38 44% 67%;
    --chart-3: 205 20% 75%;
    --chart-4: 38 30% 80%;
    --chart-5: 205 15% 40%;
  }

  .dark {
    --background: 224 10% 10%;
    --foreground: 210 20% 98%;
    --card: 224 10% 12%;
    --card-foreground: 210 20% 98%;
    --popover: 224 10% 12%;
    --popover-foreground: 210 20% 98%;
    --primary: 205 23% 60%;
    --primary-foreground: 224 10% 10%;
    --secondary: 215 20% 20%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 20% 20%;
    --muted-foreground: 215 15% 65%;
    --accent: 38 44% 67%;
    --accent-foreground: 24 10% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 20% 25%;
    --input: 215 20% 25%;
    --ring: 205 23% 60%;
    --chart-1: 205 23% 60%;
    --chart-2: 38 44% 67%;
    --chart-3: 205 20% 75%;
    --chart-4: 38 30% 80%;
    --chart-5: 205 15% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
